<!-- add item -->
<div class="row">
	<form name="form">
		<form-group class="col-xs-9" label="Name">
			<input
				class="form-control"
				type="text"
				id="postcode"
				name="postcode"
				ng-model="input.postcode"
				required
				ng-minlength="4"
			/>
		</form-group>

		<form-group class="col-xs-3" label="Get">
			<button class="btn btn-primary btn-block" ng-click="getWeather()"><i class="glyphicon glyphicon-saved"></i></button>
		</form-group>
	</form>
</div>

<div class="row">
	<div class="alert alert-success">H: {{data.humidity}}, t: {{data.temp}}</div>
</div>

<!-- list -->
<div class="row">
	<table class="table table-bordered">
		<tr>
			<th>Log</th>
			<th>Hum</th>
			<th>Temp</th>
		</tr>
		<tr ng-repeat="item in items">
			<td>{{item.created}}</td>
			<td>{{item.humidity}}</td>
			<td>{{item.temp}}</td>
		</tr>
	</table>
</div>
