<html>
	<head>
		<title>Test</title>
		<link rel='stylesheet' href='/public/css/app.css' />
	</head>
	<body ng-app="app">
		<div>Test</div>
		<div ng-controller="index">
			{{title}}
			
			<input type="text" name="" value="" ng-model="input.postcode">
			
			<button ng-click="getWeather()">GET</button>

			<div>H: {{data.humidity}}, t: {{data.temp}}</div>
			<div>H0: {{lastData.humidity}}, t0: {{lastData.temp}}</div>

			<div>{{message}}</div>
		</div>

		
	</body>

	<!-- socket.io from node.js -->
	<script src="/socket.io/socket.io.js"></script> 
	
	<!-- fileblock:js dev -->
	<script src="public/bower_components/angular/angular.js"></script>
	<script src="public/bower_components/angular-resource/angular-resource.js"></script>
	<script src="public/bower_components/angular-socket-io/socket.js"></script>
	<script src="public/angular/app.js"></script>
	<script src="public/angular/services/socketIoFactory.js"></script>
	<script src="public/angular/services/weatherService.js"></script>
	<script src="public/angular/controllers/index.js"></script>
	<!-- endfileblock -->

</html>