<html>
	<head>
		<title>Test</title>
		<link rel='stylesheet' href='/public/css/app.css' />
	</head>

	<body ng-app="app">
		<div>Navbar here</div>
		<div ng-view></div>	
	</body>

	<!-- socket.io from node.js -->
	<script src="/socket.io/socket.io.js"></script> 

	<% if (process.env.NODE_ENV !== 'dev') { %>
		<!-- fileblock:js dist -->
		<script src="public/dist/app.min.js"></script>
		<!-- endfileblock -->
	<% } else { %>
		<!-- fileblock:js dev -->
		<script src="public/bower_components/angular/angular.js"></script>
		<script src="public/bower_components/angular-route/angular-route.js"></script>
		<script src="public/bower_components/angular-resource/angular-resource.js"></script>
		<script src="public/bower_components/angular-socket-io/socket.js"></script>
		<script src="public/src/home/config.js"></script>
		<script src="public/src/socket/config.js"></script>
		<script src="public/src/test/config.js"></script>
		<script src="public/src/weather/config.js"></script>
		<script src="public/src/home/controllers/homeController.js"></script>
		<script src="public/src/socket/services/socketIoFactory.js"></script>
		<script src="public/src/test/controllers/testController.js"></script>
		<script src="public/src/test/models/testApi.js"></script>
		<script src="public/src/test/services/testService.js"></script>
		<script src="public/src/weather/controllers/weatherController.js"></script>
		<script src="public/src/weather/models/weatherApi.js"></script>
		<script src="public/src/weather/services/weatherService.js"></script>
		<script src="public/src/app.js"></script>
		<!-- endfileblock -->
	<% } %>
	
</html>