<html>
	<head>
		<title>Test</title>
		<link rel='stylesheet' href='/css/app.css' />
	</head>
	<body ng-app="app">
		<div>Test</div>
		<div ng-controller="index">
			{{title}}
			
			<input type="text" name="" value="" ng-model="input.postcode">
			
			<button ng-click="getWeather()">GET</button>

			<div>H: {{data.humidity}}, t: {{data.temp}}</div>
			<div>H0: {{lastData.humidity}}, t0: {{lastData.temp}}</div>
		</div>

		
	</body>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	
	<script src="/angular/app.js"></script>
	<script src="/angular/services/weatherService.js"></script>
	<script src="/angular/controllers/index.js"></script>
</html>