.slide-down {
    .transition(all .35s ease-in-out);
    display: block;
    overflow: hidden;
    max-height: 0;

    &.open {
        max-height: 999px;
    }
}


// media query only for mobile!!!!!!!!
.canvas {
    .transition(all .35s ease-in-out);
    transform: translateX(0px);

    &.open {
        transform: translateX(100px);
    }
}
