@media (max-width: @screen-sm) {
    .slide-down {
        .transition(all .35s ease-in-out);

        & > ul {
            margin-left: @padding-xs-horizontal;
        }

        display: block;
        overflow: hidden;
        position: fixed;
        min-height: 99999px;
        background: @navbar-default-bg;
        left: 0;
        width: @navbar-height * 2;
        transform: translateX(-(@navbar-height * 2));

        &.open {
            transform: translateX(0px);
        }
    }


    // media query only for mobile!!!!!!!!
    .canvas {
        .transition(all .35s ease-in-out);
        transform: translateX(0px);

        &.open {
            transform: translateX(@navbar-height * 2);
        }
    }
}
