.player {
    .controls{
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;
        left: 0;
        right: 0;

        .buttons {
            top: 50%;
            left: auto;
        }
    }
}
