<!-- add item -->
<div class="row">
	<div ng-show="error" class="alert alert-danger">{{error}}</div>

	<form name="form">
		<form-group class="col-xs-6 col-sm-4" label="Name">
			<input
				class="form-control"
				type="text"
				id="name"
				name="name"
				ng-model="data.name"
				required
				ng-minlength="3"
			/>
		</form-group>
		<form-group class="col-xs-6  col-sm-4" label="Surname">
			<input
				class="form-control"
				type="text"
				id="surname"
				name="surname"
				ng-model="data.surname"
				required
				ng-minlength="3"
			/>
		</form-group>
		<form-group class="col-xs-6  col-sm-2" label="Age">
			<input
				class="form-control"
				type="number"
				id="age"
				name="age"
				ng-model="data.age"
				required
			/>
		</form-group>

		<form-group class="col-xs-6  col-sm-2" label="Add">
			<button
				class="btn btn-primary btn-block"
				ng-click="addItem()"><i class="glyphicon glyphicon-saved"></i></button>
		</form-group>
	</form>

</div>

<!-- websocket message -->
<div class="row">
	<div class="alert alert-warning">{{message}}</div>
</div>

<!-- list -->
<div class="row">
	<table class="table table-bordered">
		<tr>
			<th>Name</th>
			<th>Surname</th>
			<th>Age</th>
		</tr>
		<tr ng-repeat="item in items">
			<td>{{item.name}}</td>
			<td>{{item.surname}}</td>
			<td>{{item.age}}</td>
		</tr>
	</table>
</div>
